<section class="home-banner light">
  <div class="container">
    <div class="logo-and-title">
        <a class="blog-logo" href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/img/cover.png" alt="Blog Logo" />
        </a>

      <h1 class="blog-title">
        <a href="{{site.baseurl}}/">{{site..title}}</a>
      </h1>
    </div>

    <h2 class="blog-description">{{site.description}}</h2>
    
    <br>
    
    <p>
    <a class="button" href="https://gumroad.com/l/canvassing">
      <span>Buy ebook</span>
    </a>

      <a class="button" href="https://gumroad.com/l/canvassing-screencasts">
        <span>Buy ebook & screencasts</span>
      </a>
    </p>

  </div>
</section>