<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title || post.title %}{{ page.title || post.title }} | {{ site.title}}{% else %}{{ site.title }} | {{ site.description}}{% endif %}
    </title>
    <meta name="description" content="{% if page.description || post.description %}{{ page.description || post.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/canvassing/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/canvassing/css/flexboxgrid.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/canvassing/css/style.css" />
  </head>
  <body>
    
    <header class="site-header">
      <div class="container">
        <h1 class="blog-title">
          <a href="{{ site.baseurl }}/canvassing/">{{ site.title }}</a>
        </h1>
      </div>
    </header>

    <main class="site-content" role="main">
      {{ content }}
    </main>

    <footer class="site-footer">
    <section>
    <div class="container">
      <p class="center-text">
        <section class="share sans-serif">
          <a class="icon-twitter button" href="https://twitter.com/share?text={{site.title}}&url=canvassingbook.com"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-twitter"></i> <span class="hidden">Twitter</span>
          </a>
          <a class="icon-facebook button" href="https://www.facebook.com/sharer/sharer.php?u=canvassingbook.com"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="fa fa-facebook"></i> <span class="hidden">Facebook</span>
          </a>
          <a class="icon-google-plus button" href="https://plus.google.com/share?url=canvassingbook.com"
            onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <i class="fa fa-google-plus"></i> <span class="hidden">Google+</span>
          </a>
        </section>
      </p>
    </div>
  </section>
  </footer>

    {% include analytics.html %}
  </body>
</html>
