---
layout: default
---

<div class="read container">
  <h1>{{page.title}}</h1>
  <hr>

  <div class="main-content">
    
    <div id="sidebar">
      <div>
          <a href="{{site.baseurl}}/">
            <img src="{{site.baseurl}}/img/cover.png" alt="Blog Logo" style="width:200px;">
          </a>
      </div>
      
      <br>
      <p style="font-size: 12px;">Thanks for reading! Support the book by purchasing the PDF, EPUB, MOBI versions or screencasts.</p>
      <hr>
      <p> 
      <a class="button" href="https://gumroad.com/l/canvassing">
        <span>Buy ebook</span>
      </a></p>

      <p><a class="button" href="https://gumroad.com/l/canvassing-screencasts">
          <span>Buy ebook & screencasts</span>
        </a>
      </p>
      
      <p><a class="button" href="https://gumroad.com/l/canvassing-tutoring">
        <span>Buy ebook, screencasts, <br>& 1 hour of tutoring</span>
      </a></p>
      
      <hr>
      
      <h5>Share <i>Canvassing:</i></h5>
      
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://learnjs.io/canvassing/read/" data-text="Canvassing: learn creative coding with JavaScript & the canvas" data-via="learnjs_io">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
      <br>
      <div class="g-plus" data-action="share" data-annotation="bubble"></div>
      <br>
      <div class="fb-share-button" data-href="http://learnjs.io/canvassing/read/" data-width="200" data-layout="button_count"></div>
      <style> .fb-share-button span { vertical-align:top !important; }</style>
      
      

    <hr>
    
    <h5>Author:</h5>
    <img src="http://learnjs.io/img/sethvincent.png">
    <p class="sans-serif"><b>Seth Vincent</b>
      <br>
      <a href="http://sethvincent.com">sethvincent.com</a>
    </p>
    <p><a href="https://twitter.com/sethdvincent" class="twitter-follow-button" data-show-count="false">Follow @sethdvincent</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
      <br>
      <iframe src="http://ghbtns.com/github-btn.html?user=sethvincent&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20"></iframe>

    </div>
    
    <div id="content">
      {{content}}
    </div>
  
  </div>

  <hr>
  {% include newsletter.html %}
</div>
